<!DOCTYPE html>
<html>
<body>

<li>{{ mymembers }}</li>

{% for x in mymembers %}
<p>{{ forloop.counter }} - {{ x.firstname }} {{ x.lastname }} , {{ x.phone }} -- {{ x.joined_date }}</p>
<li>{{ x }}</li>


<p>----------------------</p>

{% endfor %}

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  {% for x in mymembers %}
    <tr>
      <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
    </tr>
  {% endfor %}
</table>

<p>In views.py you can see what the fruits variable looks like.</p>

</body>
</html>