{% extends "shared/_layout.html" %} 

{% block content %}


        <!-- Modal Search Start -->
        {% include "shared/modal_Search.html" %}
        <!-- Modal Search End -->


        <!-- Hero Start -->
        {% include "shared/hero.html" %}
        <!-- Hero End -->


      <!-- Featurs Section Start -->
      {% include "shared/featurs_section.html" %}
      <!-- Featurs Section End -->



      <!-- Fruits Shop Start -->
      {% include "shared/fruits_shop.html" %}
      <!-- Fruits Shop End -->




      <!-- Featurs Start -->
      {% include "shared/featurs.html" %}
      <!-- Featurs End -->
      


      <!-- Vesitable Shop Start -->
      {% include "shared/vesitable_shop.html" %}
      <!-- Vesitable Shop End -->


      <!-- Banner Section Start -->
      {% include "shared/banner_section.html" %}
      <!-- Banner Section End -->


      <!-- Bestsaler Product Start -->
      {% include "shared/bestsaler_product.html" %}
      <!-- Bestsaler Product End -->



      <!-- Fact Start -->
      {% include "shared/fact.html" %}
      <!-- Fact End -->


      <!-- Tastimonial Start -->
      {% include "shared/tastimonial.html" %}
      <!-- Tastimonial End -->


{% endblock %}