
<!DOCTYPE html>
<html lang="en">

    <head>

        {% include "shared/header.html" %}

        {% include "shared/header_references.html" %}
    </head>

    <body>

        {% comment %} <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End --> {% endcomment %}

        
        <!-- Navbar start -->
        {% include "shared/navbar.html" %}
        <!-- Navbar End -->



        <!-- Modal Search Start -->
        {% include "shared/modal_Search.html" %}
        <!-- Modal Search End -->


        <!-- Hero Start -->
        {% include "shared/hero.html" %}
        <!-- Hero End -->


      <!-- Featurs Section Start -->
      {% include "shared/featurs_section.html" %}
      <!-- Featurs Section End -->



      <!-- Fruits Shop Start -->
      {% include "shared/fruits_shop.html" %}
      <!-- Fruits Shop End -->




      <!-- Featurs Start -->
      {% include "shared/featurs.html" %}
      <!-- Featurs End -->
      


      <!-- Vesitable Shop Start -->
      {% include "shared/vesitable_shop.html" %}
      <!-- Vesitable Shop End -->


      <!-- Banner Section Start -->
      {% include "shared/banner_section.html" %}
      <!-- Banner Section End -->


      <!-- Bestsaler Product Start -->
      {% include "shared/bestsaler_product.html" %}
      <!-- Bestsaler Product End -->



      <!-- Fact Start -->
      {% include "shared/fact.html" %}
      <!-- Fact End -->


      <!-- Tastimonial Start -->
      {% include "shared/tastimonial.html" %}
      <!-- Tastimonial End -->


      <!-- Footer Start -->
      {% include "shared/footer.html" %}
      <!-- Footer End -->



      <!-- Copyright Start -->
      {% include "shared/copyright.html" %}
      <!-- Copyright End -->




      <!-- footer reference Start -->
      {% include "shared/footer_reference.html" %}
      <!-- footer reference End -->



    </body>

</html>