
<!DOCTYPE html>
<html lang="en">
{% load static %}

    <head>
 
        {% include "shared/header.html" %}

        {% include "shared/header_references.html" %}
    </head>

    <body>

         {% comment %} <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End --> {% endcomment %}

        
        <!-- Navbar start -->
        {% include "shared/navbar.html" %}
        <!-- Navbar End -->

        {% block content %}
        
        {% endblock  %}

      <!-- Footer Start -->
      {% include "shared/footer.html" %}
      <!-- Footer End -->



      <!-- Copyright Start -->
      {% include "shared/copyright.html" %}
      <!-- Copyright End -->




      <!-- footer reference Start -->
      {% include "shared/footer_reference.html" %}
      <!-- footer reference End -->



    </body>

</html>